         table{
        border-collapse:collapse;

        }
        table,td,th{
        border:2px solid black;
        text-align:justify;

        }
        table,th{
        height:50px;
        }
        input{
        border:none;
        background-color:transparent;
        width:500px;}
        #heading{
        font-size:20px;
        }
          .inputwidth{
        border:none;
        background-color:transparent;
        width:20px;}
        inputwidthforsug{
        border:none;
        background-color:transparent;
        width:500px;
        }
        
        .iwidth{
        width:15px;
        }
        
         textarea{
        border:none;
        background-color:transparent;
        resize:none;
        }
        
        .heading1{text-align:center;
        text-decoration:underline;
        }